@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Mono&family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: #00030E;
	color: #f0f6fc;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue";
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}
